.hide {
  display: none;
}

.hide+label {
  cursor: pointer;
}

.hide+label~article {
  display: none;
}

.hide:checked+label+article {
  display: block;
}

.hide+label>h2:before {
  color: #fff;
  content: "\002B";
  margin-right: 0.5em;
}

.hide:checked+label>h2:before {
  content: "\2212";
}
