@import 'fonts.css';
@import 'form.css';
@import 'hamburger_menu.css';
@import 'hidden.css';
@import 'images.css';
@import 'media.css';
@import 'tables.css';
html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

* {
  voice-family: paul;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #5575BF;
  font-family: "Avenir Next", "Avenir", sans-serif;
  margin: 0;
}

.container {
  margin: 40px auto;
  padding: 20px 15px;
  max-width: 1000px;
  background-color: #123fa7;
  min-height: 80%;
}
