@import 'fonts.css';
@import 'form.css';
@import 'images.css';
@import 'tables.css';
@import 'hidden.css';
@import 'hamburger_menu.css';
html, body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

* {
  voice-family: announcer;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #5575BF;
  font-family: "Avenir Next", "Avenir", sans-serif;
  margin: 0;
}

.container {
  margin: 40px auto;
  padding: 20px 15px;
  max-width: 1000px;
  background-color: #123fa7;
  min-height: 80%;
}

.wrapper {
    display: table;
    width: 100%;
}
.center {
    text-align: center;
    display: table-cell;
}

audio {
  width: 100%;
}

@media screen and (min-width: 800px) {
  .container {
    margin-top: 62px;
    border-radius: 20px;
    padding: auto 25px;
  }
  nav {
    position: fixed;
  }
  td {
    padding: 1rem;
  }
  img:not(#modal-img), audio {
    width: 400px;
  }
  #modal-img {
    width: 80%;
  }
  #menu {
    width: 360px;
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact;
  }
  nav {
    display: none !important;
  }
  * {
    background-color: #fff !important;
    color: #000 !important;
  }
}
